.row.zero-margin
  %h3 Dashboard
  %hr
.row-zero-margin
  .col-md-12
    = render 'products/form'
.row.zero-margin
  .col-md-4#brands-tab
    = render 'dashboard/brand_form'
  .col-md-4#product-types-tab
    = render "dashboard/type_form"