.mobilize
  .transparent-background-home
    .row.margin-right-zero
      .mobilize-heading
        The Best Mobile Sellers
        %br/
        Available on Mobilize.
        %p Browse. Buy. Done
    / .row.margin-right-zero
    /   .col-md-offset-3.col-md-6
    /     %form{:action => ""}
    /       .input-group.input-group-lg
    /         %input.form-control{:placeholder => "What are you looking for...", :type => "text"}/
    /         %span.input-group-btn
    /           %button.btn.btn-success{:type => "button"}
    /             Find
.row.shop-brands
  %br
  %h2.home-h2
    Shop by Brands
  / %ul#flexiselDemo1
  /   - @brands.each do |brand|
  /     %li= link_to image_tag(brand.logo.url(:thumb), class: 'thumbnail', style: "width: 125px; height: 125px"), brand_path(brand)
  .col-md-1
  - @brands.each do |brand|
    .col-md-2.text-center
      = link_to image_tag(brand.logo.url(:thumb), class: 'img-circle', style: "width: 125px; height: 125px"), brand_path(brand)

.clearfix
.latest-arrivals
  %br
  %h2.home-h2
    Latest Arrivals
  %br
  .row.text-center.zero-margin
    .col-md-3
      .mobilize-card.thumbnail
        = image_tag "mobile1.jpg", class: "img-responsive", style: "height: 175px"
        %h5 OPPO
        %h4 Rs 15000
    .col-md-3
      .mobilize-card.thumbnail
        = image_tag "mobile2.png", class: "img-responsive", style: "height: 175px"
        %h5 SAMSUNG
        %h4 Rs 25000
    .col-md-3
      .mobilize-card.thumbnail
        = image_tag "mobile3.jpg", class: "img-responsive", style: "height: 175px"
        %h5 SONY
        %h4 Rs 10000
  %br

:javascript
$(document).ready(function(){
  $("#flexiselDemo1").flexisel({
    visibleItems: 3,
        itemsToScroll: 1,         
        autoPlay: {
            enable: true,
            interval: 5000,
            pauseOnHover: true
        }
  });
})