.row.zero-margin
  .table-responsive
    %table.table.table-compact.table-striped.table-hover.table-fixed
      %tr.active
        %th.text-center First Name
        %th.text-center Last Name
        %th.text-center Email
      - @users.each do |user|
        %tr
          %td.text-center= user.first_name
          %td.text-center= user.last_name
          %td.text-center= user.email
  .text-center
    = will_paginate @users