- if object.errors.any?
  #error_explanation.alert.alert-danger
    %a.close{"aria-label" => "close", "data-dismiss" => "alert", href: "#", title: "close"} ×
    %b
      #{pluralize(object.errors.count, "error")}.
      %ul
        - object.errors.full_messages.each do |msg|
          %li= msg
