.row.zero-margin
  .product-items-tab
    .bs-example.bs-example-tabs{"data-example-id" => "togglable-tabs", :role => "tabpanel"}
      %ul#myTab.nav.nav-tabs{:role => "tablist"}
        %li.active{:role => "presentation"}
          %a#home-tab{"aria-controls" => "home", "data-toggle" => "tab", :href => "#home", :role => "tab"} Mobiles
        %li{:role => "presentation"}
          %a#audio-tab{"aria-controls" => "audio", "data-toggle" => "tab", :href => "#audio", :role => "tab"} Audio
        %li{:role => "presentation"}
          %a#video-tab{"aria-controls" => "video", "data-toggle" => "tab", :href => "#video", :role => "tab"} Computer
        %li{:role => "presentation"}
          %a#tv-tab{"aria-controls" => "tv", "data-toggle" => "tab", :href => "#tv", :role => "tab"} Household
        %li{:role => "presentation"}
          %a#kitchen-tab{"aria-controls" => "kitchen", "data-toggle" => "tab", :href => "#kitchen", :role => "tab"} Kitchen
      #myTabContent.tab-content
        #home.tab-pane.fade.active.in{"aria-labelledby" => "home-tab", :role => "tabpanel"}
          .agile_ecommerce_tabs
            .col-md-4.agile_ecommerce_tab_left
              .hs-wrapper
                %img.img-responsive{:alt => " ", :src => "images/3.jpg"}/
                %img.img-responsive{:alt => " ", :src => "images/4.jpg"}/
                .w3_hs_bottom
                  %ul
                    %li
                      %a{"data-target" => "#myModal", "data-toggle" => "modal", :href => "#"}
                        %span.glyphicon.glyphicon-eye-open{"aria-hidden" => "true"}
              %h5
                %a{:href => "single.html"} Mobile Phone1
              .simpleCart_shelfItem
                %p
                  %span $380
                  %i.item_price $350
                %form{:action => "#", :method => "post"}
                  %input{:name => "cmd", :type => "hidden", :value => "_cart"}/
                  %input{:name => "add", :type => "hidden", :value => "1"}/
                  %input{:name => "w3ls_item", :type => "hidden", :value => "Mobile Phone1"}/
                  %input{:name => "amount", :type => "hidden", :value => "350.00"}/
                  %button.w3ls-cart{:type => "submit"} Add to cart
            .clearfix
        #audio.tab-pane.fade{"aria-labelledby" => "audio-tab", :role => "tabpanel"}
          .agile_ecommerce_tabs
            .col-md-4.agile_ecommerce_tab_left
              .hs-wrapper
                %img.img-responsive{:alt => " ", :src => "images/10.jpg"}/
                %img.img-responsive{:alt => " ", :src => "images/8.jpg"}/
                .w3_hs_bottom
                  %ul
                    %li
                      %a{"data-target" => "#myModal1", "data-toggle" => "modal", :href => "#"}
                        %span.glyphicon.glyphicon-eye-open{"aria-hidden" => "true"}
              %h5
                %a{:href => "single.html"} Audio Player
              .simpleCart_shelfItem
                %p
                  %span $220
                  %i.item_price $180
                %form{:action => "#", :method => "post"}
                  %input{:name => "cmd", :type => "hidden", :value => "_cart"}/
                  %input{:name => "add", :type => "hidden", :value => "1"}/
                  %input{:name => "w3ls_item", :type => "hidden", :value => "Audio Player"}/
                  %input{:name => "amount", :type => "hidden", :value => "180.00"}/
                  %button.w3ls-cart{:type => "submit"} Add to cart
            .clearfix
        #video.tab-pane.fade{"aria-labelledby" => "video-tab", :role => "tabpanel"}
          .agile_ecommerce_tabs
            .col-md-4.agile_ecommerce_tab_left
              .hs-wrapper
                %img.img-responsive{:alt => " ", :src => "images/13.jpg"}/
                %img.img-responsive{:alt => " ", :src => "images/11.jpg"}/
                .w3_hs_bottom
                  %ul
                    %li
                      %a{"data-target" => "#myModal2", "data-toggle" => "modal", :href => "#"}
                        %span.glyphicon.glyphicon-eye-open{"aria-hidden" => "true"}
              %h5
                %a{:href => "single.html"} Kid's Toy
              .simpleCart_shelfItem
                %p
                  %span $120
                  %i.item_price $80
                %form{:action => "#", :method => "post"}
                  %input{:name => "cmd", :type => "hidden", :value => "_cart"}/
                  %input{:name => "add", :type => "hidden", :value => "1"}/
                  %input{:name => "w3ls_item", :type => "hidden", :value => "Kid's Toy"}/
                  %input{:name => "amount", :type => "hidden", :value => "80.00"}/
                  %button.w3ls-cart{:type => "submit"} Add to cart
            .clearfix
        #tv.tab-pane.fade{"aria-labelledby" => "tv-tab", :role => "tabpanel"}
          .agile_ecommerce_tabs
            .col-md-4.agile_ecommerce_tab_left
              .hs-wrapper
                %img.img-responsive{:alt => " ", :src => "images/16.jpg"}/
                %img.img-responsive{:alt => " ", :src => "images/14.jpg"}/
                .w3_hs_bottom
                  %ul
                    %li
                      %a{"data-target" => "#myModal3", "data-toggle" => "modal", :href => "#"}
                        %span.glyphicon.glyphicon-eye-open{"aria-hidden" => "true"}
              %h5
                %a{:href => "single.html"} Washing Machine
              .simpleCart_shelfItem
                %p
                  %span $520
                  %i.item_price $510
                %form{:action => "#", :method => "post"}
                  %input{:name => "cmd", :type => "hidden", :value => "_cart"}/
                  %input{:name => "add", :type => "hidden", :value => "1"}/
                  %input{:name => "w3ls_item", :type => "hidden", :value => "Washing Machine"}/
                  %input{:name => "amount", :type => "hidden", :value => "510.00"}/
                  %button.w3ls-cart{:type => "submit"} Add to cart
            .clearfix
        #kitchen.tab-pane.fade{"aria-labelledby" => "kitchen-tab", :role => "tabpanel"}
          .agile_ecommerce_tabs
            .col-md-4.agile_ecommerce_tab_left
              .hs-wrapper
                %img.img-responsive{:alt => " ", :src => "images/19.jpg"}/
                %img.img-responsive{:alt => " ", :src => "images/17.jpg"}/
                .w3_hs_bottom
                  %ul
                    %li
                      %a{"data-target" => "#myModal4", "data-toggle" => "modal", :href => "#"}
                        %span.glyphicon.glyphicon-eye-open{"aria-hidden" => "true"}
              %h5
                %a{:href => "single.html"} Coffee Maker
              .simpleCart_shelfItem
                %p
                  %span $250
                  %i.item_price $220
                %form{:action => "#", :method => "post"}
                  %input{:name => "cmd", :type => "hidden", :value => "_cart"}/
                  %input{:name => "add", :type => "hidden", :value => "1"}/
                  %input{:name => "w3ls_item", :type => "hidden", :value => "Coffee Maker"}/
                  %input{:name => "amount", :type => "hidden", :value => "220.00"}/
                  %button.w3ls-cart{:type => "submit"} Add to cart
            .clearfix
