.row.zero-margin
  %h3.text-center Offers List
  .col-md-12
    .table-responsive
      %table.table.table-compact.table-striped.table-hover.table-fixed
        %tr.active
          %th.text-center Product
          %th.text-center From Time
          %th.text-center To Time
          %th.text-center Actions
        - @offers.each do |offer|
          %tr
            %td.text-center= offer.product.name
            %td.text-center= offer.from_time
            %td.text-center= offer.to_time
            %td.text-center
              =link_to "edit", edit_offer_path(offer), class: "btn btn-primary"
          