.zero-margin{
  margin: 0px !important;
}

.badge{
  line-height: 2 !important;
  height: 35px !important;
  font-size: 16px !important;
  margin-bottom: 10px !important;
  background-color: #608a77 !important;
  a {
   color: #fff;
  }
}

.latest-arrivals{
  margin: 0px !important;
  background-color: white;
}

.shop-brands{
  margin: 0px !important;
  background-color: #fff;
}

.home-h2{
  margin: 0px !important;
  padding: 30px;
  text-align: center;
}