.product-image, .product-details{
  height: 480px;
  background-color: #fff;
  border: 1px solid lavender;
}

.product-details{
  padding-right: 10%;
  padding-left: 15px;
}

.specifications{
  padding-right: 10%;
  padding-left: 15px;
  background-color: #fff;
  border: 1px solid lavender;
}

.product-heading{
  font-size: 22px;
  color: #ff5063; 
  font-weight: 500;
  text-decoration: underline;
}

.text-gray{
  color: #999;
}

.order-now-button{
  background-color: gainsboro !important;
  color: #fff;
  border: 1px solid black;
}

.specs{
  padding-left: 40px;
}