.mobilize {
	background: image-url('banner.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 50vh;
	width: 100%;
	text-align: center;
}

.mobilize-heading {
	color: #fff;
	margin-top: 7%;
	font-size: 37px;
	font-weight: 600;
}

.mobilize-heading p {
	font-weight: 400;
	font-size: 24px;
}

.transparent-background-home{
  height: 100%;
  width: 100%;
  background: rgba(51,51,51,0.7);
}

.margin-right-zero{
	margin-right: 0px !important;
}

.mobilize-card {
	background-color: #fff;
	width: 228px;
	height: 275px;
	border: 1px #e5e5e5 solid;
	margin: 0 auto 20px auto;
	padding: 0;
}

.banner-offer{
    padding-bottom: 2em;	
    background-color: mintcream;
}

.banner-offer-grid-left{
  background-color: gainsboro;
  text-align: center;
  padding: 2.5em 5em 0 0;
  h3{
    font-size: 14px;
    color: #212121;
    text-transform: capitalize;
    margin-bottom: 2em;
    span{
	  display: block;
      font-size: 3em;
      font-weight: 700;
      margin-top: 15px;
      color: #ff5063;
      i{
	    color:#212121;
      }
    } 
  }
}

.banner-offer-grid-right{
  background-color: gainsboro;
  text-align: center;
  padding: 1.8em 0 0;
  h4{
	padding: .3em .5em;
    color: #fff;
    background-color: #3c43a4;
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: 2px;
    width: 20%;
    margin: 0 auto;
    margin-bottom: 15px;
	border: 1px solid;
  }
}

.banner-offer-grid-left a{
	text-align: right;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: 2px;
    color: #ff5063;
    background: image-url('img-sp.png') no-repeat 112px -4px;
    padding: 0 45px 0 0;
}

.banner-offer-grid-left a:hover{
    color:#212121;
    background: image-url('img-sp.png') no-repeat 112px -38px;
}

.banner-offer-grid-left, .banner-offer-grid-right{
    height: 200px !important;
}

/* -- timer -- */
.timer_wrap{
	width:92%;
	margin: 0 auto;
}

#counter {
	height:120px;
	font-size:40px;
	color: #FFF;
	overflow: hidden;
}

.timer{
	border-top:2px ridge #5F5F5F;
	border-bottom:2px ridge #5F5F5F;
}

.timer h4{
	font-size: 14px;
	color: #E5E5E5;
	font-style: normal;
	font-variant: normal;
	font-weight: lighter;
	letter-spacing: 1px;
	margin-top: 20px;
}

.countDays, .countHours, .countMinutes, .countSeconds {
    display:inline-block;
	width: 60px;
    height: 60px;
    background:#3c43a4;
    margin-left: 10px;
	border-radius: 500px;
	-webkit-border-radius: 500px;
	-moz-border-radius: 500px;
	-o-border-radius: 500px;
}

.points {
	float: left;
	width:40px;
	margin: 0;
	font-size: 44px;
	font-weight: bold;
	text-align: center;
	line-height: 138px;
	text-shadow: none;
	color:#FFF;
    display: none;
}

.boxName {
	float: left;
	width: 100%;
	font-size: 14px;
    color: black;
	font-style:italic;
	font-weight: 500;
	clear: both;
	padding: 2px;
}

/* -- //timer -- */
/*-- //banner-offer --*/
.sliderfig {
    margin: 3em 0 0;
}