.row.zero-margin{style: "background-color:mintcream"}
  %br
  .col-md-12
    -@brands.each do |brand|
      = link_to brand.name, brand_path(brand), class: 'btn selected-button'
    = link_to 'Accessories ??', accessories_path(accessory: true), method: :get, class: "btn btn-default pull-right"
    %hr
  = render 'brands/mini_index'